NODE_ENV=

# SERVER
PORT=

# CLIENT
CLIENT_URL=
VERCEL_URL=

# DATABASE DOCKER DEVELOPMENT
DATABASE_URL=

# DATABASE PRODUCTION
# DATABASE_URL=

# DOCKER DB CREDENTIALS
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# TOKENS
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRES_IN=
REFRESH_TOKEN_EXPIRES_IN=